@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-backGround : #F9FAFB;
    --color-surface : #FFFFFF;

    --color-primaryText : #111827;
    --color-secondaryText : #4B5563;
    --color-mutedText : #9CA3AF;

    --color-highlightedText : #2563EB;
    --color-highlightedHover : #1D4ED8;
    
    --color-success : #10B981;      
    --color-error : #EF4444;       
    --color-border : #E5E7EB;;

    --font-inter: Inter, "sans-serif"; 
}


